*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 100vh;
}

.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
            
    position: absolute;
    /*top: 380px;
    left: 600px;*/
    top: 40%;
    left: 40%;
    right: 0;
    opacity: 0.9;
}

.closed{
    display: none;
}

.open{
    display: none;
}

.active{
    display: block;
}

/*.text{
    padding: 1px;
    text-align: center;
    font-size: x-small;
}*/

.cloud{
    
    left: 46.5%;
    bottom: 5%;
    position: relative;
    font-size: 6rem;
    z-index: 9;
    margin: 0px;
    
}
p{
    position: relative;
    font-size: small;
    bottom: 100px;
    left: 35px;
}
/*.container{
    align-items: center;
    position: relative;
    margin: 0px;
}*/